body {
  width: 100%;
  font-family: $font_rc;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

a:hover {
  box-shadow: 0 0 30px 5px $outline_a_hover_color;
  background-color: $bg_a_hover_color;
  color: $bg_form_input;

  & span {
    color: $bg_form_input;
  }
}

button,
input,
label,
textarea {
  &:hover {
    box-shadow: 0 0 30px 5px $text_main_color;
    border-radius: 5px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.visually_hidden:not(:active),
input[type="checkbox"].visually_hidden,
input[type="radio"].visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
