$font_rc: "Roboto Condensed", "Arial", sans-serif;
$font_r: "Roboto", "Arial", sans-serif;
$font_pt_mono: "PT Mono", "Courier New", monospace;

$desktop_min: 1024px;
$tablet_max: 1023px;
$tablet_min: 770px;
$mobile_max: 769px;
$mobile_min: 320px;

$bg_first_color: #fafafa;
$bg_second_color: #e5e5e5;
$bg_third_color: #1b2d37;
$bg_fourth_color: #414f57;
$bg_five_color: rgba(27, 45, 55, 0.8);
//$bg_map_color: #e6e6e6;

$text_main_color: #ffffff;
$text_second_color: #788891;
$text_third_color: #666666;
//$text_third_color_50: rgba(0, 0, 0, 0.5);
//$text_fourth_color: #1f1f1f;

$border_first_color: #ebebeb;
//$border_second_color: #c9ccd4;

$button_color_promo: #00b2ff;
//$button_color_form: #0ad9c6;
//$input_color_hover: rgba(10, 217, 198, 0.9);
//$button_color_hover: rgba(10, 217, 198, 0.8);
